<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>656609494072-psn7m471853rob2if0tidq95mtni2vs2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.656609494072-psn7m471853rob2if0tidq95mtni2vs2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>656609494072-iab5d9juiv6molvq8s3uck024711nvnf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDOfBOxfNdBt2_pPSdCwfuQ5y0_fsbeN1s</string>
	<key>GCM_SENDER_ID</key>
	<string>656609494072</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aturdiyev.mynotes</string>
	<key>PROJECT_ID</key>
	<string>moka-2344b</string>
	<key>STORAGE_BUCKET</key>
	<string>moka-2344b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656609494072:ios:376d764e5591eb419b92cd</string>
</dict>
</plist>